
sources/node_modules
sources/db
.vs/
.bash_history
.bash_logout
.bashrc
.config/
.dbshell
.forever/
.gnupg/
.mongorc.js
.mysql_history
sources/.node_repl_history
sources/.npm/
.profile
.ssh/
.viminfo
sources/.env
.gitconfig
project-elaichi.json