node_modules
db
.vs/
.bash_history
.bash_logout
.bashrc
.config/
.dbshell
.forever/
.gnupg/
.mongorc.js
.mysql_history
.node_repl_history
.npm/
.profile
.ssh/
.viminfo
.env
.gitconfig
project-dates-493f1-firebase-adminsdk-s22ew-8bf811a509.json
docs/