
sources/node_modules
sources/db
project-elaichi.json
package-lock.json
.env
sources/.node_repl_history
sources/.npm/
coverage
.vs/
.bash_history
.bash_logout
.bashrc
.config/
.dbshell
.forever/
.gnupg/
.mongorc.js
.mysql_history
.profile
.ssh/
.viminfo
.gitconfig