{
	"trailingComma": "es5",
	"tabWidth": 2,
	"printWidth": 120,
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"insertPragma": true,
	"proseWrap": "preserve",
	"arrowParens": "avoid",
	"endOfLine": "auto"
}
